body {
}
/*  添加员工职务  通用 添加/编辑页面 table */
.li_title {
    float: left;
    list-style-type: none;
    line-height: 35px;
}

#tblSystem {
    border: none;
}

    #tblSystem tr td {
        border: none;
        line-height: 35px;
    }

#tbl-border tr td {
    line-height: 35px;
}

/*头部导航栏*/
.wrap-Title a {
    float: right;
    margin-right: 5px;
}

/* 展开/收缩 */
.box {
    width: 40px;
    height: 40px;
    border-left: 1px solid #D9D9D9;
    text-align: center;
    vertical-align: central;
    cursor: pointer;
}

.div_angle {
    margin-top: 10px;
}

.span-angel {
    font-size: 14px;
}

/* 添加酒店 */
#dlLabel dd span {
    cursor: pointer;
}

#dlLabel {
    background: white;
    width: 30%;
    padding: 20px 20px 20px 20px;
}
/* 头部标题颜色 */



/* 消息发送 */
.panel-Content {
    background-color: #F1F2F7;
}

/* 页面弹出层 */
.modal-bottom {
    padding: 8px 5px 8px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background-color: #F1F2F7;
}

#action-body {
    max-height: 300px;
    overflow: auto;
}

/* 表格 表头 */
.th_title {
    background-image: url(/images/td_orange.png);
    background-repeat: repeat-x;
    /*background-color:#4B81CB;*/
}

    .th_title > th {
        text-align: center;
        /*color:#FFF;*/
    }

.table-list > tbody > tr {
}

    .table-list > tbody > tr > td:first-child {
        text-align: center;
    }

    .table-list > tbody > tr > td {
        /*border: 1px solid #f1a46f;*/
    }

.table-list > thead > tr > th {
    /*border: 1px solid #f1a46f;*/
}


/* table 无边框*/
.table-no-border {
    border:none;
}
.table-no-border > tbody > tr > td {
    border: none;
    font-size: 13px;
}

.table-no-border tbody tr {
    height: 55px;
}

.td-label {
    color: #393939;
    text-align: right;
}

.span-danger {
    color: red;
}
