/.vs
/HHLWedding.Web/bin
/HHLWedding.Web/obj
/HHLWedding.UControls/bin
/HHLWedding.UControls/obj
/HHLWedding.ToolsLibrary/obj
/HHLWedding.ToolsLibrary/bin
/HHLWedding.Pages/bin
/HHLWedding.Pages/obj
/HHLWedding.EditoerLibrary/bin
/HHLWedding.EditoerLibrary/obj
/HHLWedding.DataAssmblly/obj
/HHLWedding.DataAssmblly/bin
/HHLWedding.Common/bin
/HHLWedding.Common/obj
/HHLWedding.BLLManager/bin
/HHLWedding.BLLManager/obj
/HHLWedding.BLLInterface/obj
/HHLWedding.BLLInterface/bin
/HHLWedding.BLLAssmbly/obj
/HHLWedding.BLLAssmbly/bin
